In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../raw_data/dataset.csv',sep=';')
data.head()

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,...,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,...,1,1,1,1,0,0,0,178839,9.653333,1.0
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.0,0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,...,1,1,2,2,0,0,0,49014,13.181389,NaN
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,1,1,2,2,0,0,0,124839,11.561944,1.0
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,0,0,0,324676,15.751111,1.0
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0,1,1,1,0,0,0,7100,12.698611,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99976 entries, 0 to 99975
Data columns (total 43 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   uuid                                 99976 non-null  object
 1   default                              89976 non-null  float64
 2   account_amount_added_12_24m          99976 non-null  int64
 3   account_days_in_dc_12_24m            88140 non-null  float64
 4   account_days_in_rem_12_24m           88140 non-null  float64
 5   account_days_in_term_12_24m          88140 non-null  float64
 6   account_incoming_debt_vs_paid_0_24m  40661 non-null  float64
 7   account_status                       45603 non-null  float64
 8   account_worst_status_0_3m            45603 non-null  float64
 9   account_worst_status_12_24m          33215 non-null  float64
 10  account_worst_status_3_6m            42274 non-null  float64
 11  account_worst_status_6_12m           39626 non-null  float64
 12  age                                  99976 non-null  int64
 13  avg_payment_span_0_12m               76140 non-null  float64
 14  avg_payment_span_0_3m                50671 non-null  float64
 15  merchant_category                    99976 non-null  object
 16  merchant_group                       99976 non-null  object
 17  has_paid                             99976 non-null  bool
 18  max_paid_inv_0_12m                   99976 non-null  float64
 19  max_paid_inv_0_24m                   99976 non-null  float64
 20  name_in_email                        99976 non-null  object
 21  num_active_div_by_paid_inv_0_12m     77037 non-null  float64
 22  num_active_inv                       99976 non-null  int64
 23  num_arch_dc_0_12m                    99976 non-null  int64
 24  num_arch_dc_12_24m                   99976 non-null  int64
 25  num_arch_ok_0_12m                    99976 non-null  int64
 26  num_arch_ok_12_24m                   99976 non-null  int64
 27  num_arch_rem_0_12m                   99976 non-null  int64
 28  num_arch_written_off_0_12m           81898 non-null  float64
 29  num_arch_written_off_12_24m          81898 non-null  float64
 30  num_unpaid_bills                     99976 non-null  int64
 31  status_last_archived_0_24m           99976 non-null  int64
 32  status_2nd_last_archived_0_24m       99976 non-null  int64
 33  status_3rd_last_archived_0_24m       99976 non-null  int64
 34  status_max_archived_0_6_months       99976 non-null  int64
 35  status_max_archived_0_12_months      99976 non-null  int64
 36  status_max_archived_0_24_months      99976 non-null  int64
 37  recovery_debt                        99976 non-null  int64
 38  sum_capital_paid_account_0_12m       99976 non-null  int64
 39  sum_capital_paid_account_12_24m      99976 non-null  int64
 40  sum_paid_inv_0_12m                   99976 non-null  int64
 41  time_hours                           99976 non-null  float64
 42  worst_status_active_inv              30461 non-null  float64
dtypes: bool(1), float64(19), int64(19), object(4)
memory usage: 32.1+ MB

## 1. Preprocessing workflow

### 1.1. Duplicates

In [5]:
# Duplicates
duplicate_count = data.duplicated().sum()
duplicate_count

0

 ### 1.2. Missing values

In [6]:
# Missing data percentage
round((data.isnull().sum()/len(data)).sort_values(ascending=False),2)

worst_status_active_inv                0.70
account_worst_status_12_24m            0.67
account_worst_status_6_12m             0.60
account_incoming_debt_vs_paid_0_24m    0.59
account_worst_status_3_6m              0.58
account_status                         0.54
account_worst_status_0_3m              0.54
avg_payment_span_0_3m                  0.49
avg_payment_span_0_12m                 0.24
num_active_div_by_paid_inv_0_12m       0.23
num_arch_written_off_12_24m            0.18
num_arch_written_off_0_12m             0.18
account_days_in_rem_12_24m             0.12
account_days_in_term_12_24m            0.12
account_days_in_dc_12_24m              0.12
default                                0.10
sum_paid_inv_0_12m                     0.00
sum_capital_paid_account_12_24m        0.00
sum_capital_paid_account_0_12m         0.00
recovery_debt                          0.00
status_max_archived_0_24_months        0.00
status_max_archived_0_6_months         0.00
status_3rd_last_archived_0_24m         0.00
status_2nd_last_archived_0_24m         0.00
status_last_archived_0_24m             0.00
num_unpaid_bills                       0.00
time_hours                             0.00
status_max_archived_0_12_months        0.00
num_arch_ok_12_24m                     0.00
num_arch_rem_0_12m                     0.00
num_arch_ok_0_12m                      0.00
num_arch_dc_12_24m                     0.00
num_arch_dc_0_12m                      0.00
num_active_inv                         0.00
name_in_email                          0.00
max_paid_inv_0_24m                     0.00
max_paid_inv_0_12m                     0.00
has_paid                               0.00
merchant_group                         0.00
merchant_category                      0.00
account_amount_added_12_24m            0.00
age                                    0.00
uuid                                   0.00
dtype: float64

#### we do have a few features having a high percetange of missing values 
#### Let's investigate the meaning of these features and the besty way to deal with mising values

In [7]:
# unique values in this feature
data['worst_status_active_inv'].unique()

array([ 1., nan,  2.,  3.])

In [9]:
# account_worst_status_12_24m
data['account_worst_status_12_24m'].unique()

array([nan,  1.,  2.,  3.,  4.])

In [12]:
data['account_worst_status_12_24m'].isna().sum() / len(data['account_worst_status_12_24m'])

0.6677702648635673

In [116]:
_ = round((data.isnull().sum()/len(data)).sort_values(ascending=False),2)
miss_val_features_df = pd.DataFrame(_,columns=['percentage']).reset_index(names=['features'])
miss_val_features_df[miss_val_features_df['percentage'] >= 0.12]

                               features  percentage
0               worst_status_active_inv        0.70
1           account_worst_status_12_24m        0.67
2            account_worst_status_6_12m        0.60
3   account_incoming_debt_vs_paid_0_24m        0.59
4             account_worst_status_3_6m        0.58
5                        account_status        0.54
6             account_worst_status_0_3m        0.54
7                 avg_payment_span_0_3m        0.49
8                avg_payment_span_0_12m        0.24
9      num_active_div_by_paid_inv_0_12m        0.23
10          num_arch_written_off_12_24m        0.18
11           num_arch_written_off_0_12m        0.18
12           account_days_in_rem_12_24m        0.12
13          account_days_in_term_12_24m        0.12
14            account_days_in_dc_12_24m        0.12

In [121]:
# let's try the follwing approach in order to clean this features out
# if the worst status for 12-24 is let's say 1 - 'account_worst_status_12_24m' and if status for 'account_worst_status_6_12m' is NaN 
# then I will replace by 1. Basically, we're saying that nothing has changed.

account_worst_features = data[['account_worst_status_12_24m','account_worst_status_6_12m', 'account_worst_status_3_6m']]

In [130]:
def cleaning(feature1, feature2):
    for i in range(len(data)):
        if feature1[i].isna() == False:
            feature2[i].replace(feature1[i])
    return feature2
            
            
note: i can add place all features (3)

SyntaxError: invalid syntax (409299768.py, line 8)

In [129]:
# Columns with more than 54%